<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shbj.intentfilterdemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--activity-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="com.shbj.intentfilterdemo.action.a"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--service-->
        <service android:name=".service.BookService">
            <intent-filter>
                <action android:name="com.shbj.intentfilterdemo.action.service.book"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".service.MessengerService">
            <intent-filter>
                <action android:name="com.shbj.intentfilterdemo.action.service.messenger"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".socket.ServerSocketService">
            <intent-filter>
                <action android:name="com.shbj.intentfilterdemo.action.service.server"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <!--provider-->
        <provider
            android:name=".contentProvider.BookProvider"
            android:authorities="com.shbj.intentfilterdemo.authorities.provider.book"
            android:exported="true"></provider>
    </application>

</manifest>